.App {
  text-align: center;
}
/* La propriété s'applique aux quatre côtés */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
  color: white;
}

button,select{
  border-radius: 5px;
  width: 120px;
  margin-left: 10px;
  border: 2px solid #5A6AF0;
  background: black;
  color: white;
  height: 30px;
}

.logo {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.logo img {
  height: 100%;
}

input[type="number"] {
    height: 22px;
    align-items: flex-start;
}

fieldset {
  width: 40%;
    /* text-align: center; */
    margin: auto;
}
